.ex-1-square {
  transition: background-color 2s;
}
.ex-1-square:hover {
  background-color: red;
}
.ex-2-square {
  transition: width 4s;
}
.ex-2-square:active {
  width: 100%;
}
.ex-3-square {
  transition: border-radius 2s;
}
.ex-3-square:hover {
  border-radius: 50%;
}
.ex-4-square {
  transition: opacity 2s;
}
.ex-4-square:hover {
  opacity: 0;
}
.ex-5-square {
  transition: all 2s;
}
.ex-5-square:hover {
  transform: scale(2);
}
.ex-5-square:active {
  transform: scale(0.5);
}
.ex-6-img:hover {
  filter: grayscale(1);
}
.ex-7-img {
  transition: filter 1s;
}
.ex-7-img:hover {
  filter: grayscale(1);
}
.ex-8-img {
  transition: all 1s;
}
.ex-8-img:hover {
  border-radius: 30px;
  filter: saturate(2.5) blur(1px);
}
.ex-9-img {
  transition: all 1500ms;
}
.ex-9-img:hover {
  border-radius: 30px;
  filter: invert(100%) drop-shadow(40px 15px 10px grey);
  transform: scale(1.4);
}
.ex-10-icon {
  animation: giro 2s linear infinite;
}
@keyframes giro {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-359deg);
  }
}
.ex-11-icon:hover {
  animation: giroVeloceLento 2s linear infinite;
}
@keyframes giroVeloceLento {
  80% {
    transform: rotate(288deg);
    color: yellow;
  }
  100% {
    transform: rotate(0);
    color: #333333;
  }
}
.ex-12-button:hover .ex-12-top-white {
  animation: spostaBiancoTop 1500ms linear infinite;
}
@keyframes spostaBiancoTop {
  50% {
    left: calc(90% - 60px);
  }
  100% {
    left: 10%;
  }
}
.ex-12-button:hover .ex-12-bottom-white {
  animation: spostaBiancoBottom 1500ms linear infinite;
}
@keyframes spostaBiancoBottom {
  50% {
    right: calc(90% - 60px);
  }
  100% {
    right: 20%;
  }
}
.ex-13-button:hover .ex-13-top-white {
  animation: spostaBiancoTopGiro 3s linear infinite;
}
@keyframes spostaBiancoTopGiro {
  29.33% {
    top: -10px;
    left: 100%;
  }
  42.3% {
    top: calc(100% - 10px);
    left: 100%;
  }
  79.33% {
    top: calc(100% - 10px);
    left: -30px;
  }
  92.29% {
    top: -10px;
    left: -30px;
  }
  100% {
    top: -10px;
    left: 10%;
  }
}
.ex-13-button:hover .ex-13-bottom-white {
  animation: spostaBiancoBottomGiro 3s linear infinite;
}
@keyframes spostaBiancoBottomGiro {
  25.63% {
    bottom: -10px;
    right: 100%;
  }
  38.6% {
    bottom: calc(100% - 10px);
    right: 100%;
  }
  74.63% {
    bottom: calc(100% - 10px);
    right: -30px;
  }
  88.59% {
    bottom: -10px;
    right: -30px;
  }
  100% {
    bottom: -10px;
    right: 20%;
  }
}
